/* src/assets/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  *:focus-visible {
    outline: 2px solid rgb(59 130 246);
    outline-offset: 2px;
  }
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}
